.register__button {
    margin-top: 168px;
    padding: 14px 0;
    width: 100%;
    background-color: #fff;
    color: #000;
    border: 0;
    border-radius: 2px;
    font-size: 18px;
    line-height: 21.78px;
    font-weight: 400;
    cursor: pointer;
  }